<nav id="next_prev_article">
  <% if @post.next.present? -%>
			<%= link_to ("Next Post"), 
                refinery.blog_post_path(@post.next), 
                :class => 'next' %>
  <% end -%>

  <% if @post.prev.present? -%>
    <%= link_to ("Previous Post"), 
                refinery.blog_post_path(@post.prev), 
                :class => 'prev' %>
  <% end -%>
</nav><!-- /next_prev_article -->