<div id="logo">
  <div id="link"><%= link_to "Cameron Eigner", refinery.root_path %></div>
</div>
<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
